html {
    font-size: 18px;
}

body {
    background-color: #fff; /* white background */
    color: #000; /* black font */
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.container {
    display: flex;
    min-height: 100vh;
}
.nav {
    width: 250px;
    padding: 5px;
    background: #000; /* gray #808080 */
    color: #fff; 
    font-size: 18px;
}
.content {
    flex: 1;
    padding: 5px;
    background: #fff;
    color: #000;
    font-size: 18px;
}
.nav a {
    display: block;
    padding: 5px 0;
    color: #339933; /* #008000 is a medium green. */
}
/*
.nav a:link {
    color: #008000;
}
.nav a:visited {
    color: #008000;
}
*/
a {
    color: #0000ff;
}
a:visited {
    color: #800080;
}
/*
.nav a:hover {
    color: #ffff00;
    text-decoration: underline;
}
.nav a:active {
    color: #ffffff;
}
*/
.nav-heading1 {
    background: #004400; /* dark green, #004400 */
    color: #00ff00; /* bright green, #00ff00 */
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}