<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <h2>Navigation</h2>
            <a href="{{ site.baseurl }}/">Home</a>
            <div class="nav-heading1">QChat</div>
            <a href="{{ site.baseurl }}/pages/qc/qc">QChat Overview</a>
            <a href="{{ site.baseurl }}/pages/qc/qc-tutorial1">QChat Tutorial 1</a>
            <a href="{{ site.baseurl }}/pages/qc/qc-tut-online-models1">Online Models Tutorial</a>
            <div class="nav-heading1">Python</div>
            <a href="{{ site.baseurl }}/pages/python/python">Python Overivew</a>
            <a href="{{ site.baseurl }}/pages/python/python">Sequence, Selection, Iteration</a>
            <a href="{{ site.baseurl }}/pages/python/python">Classes</a>
            <a href="{{ site.baseurl }}/pages/python/python">Functions</a>
            <div class="nav-heading1">AI</div>
            <a href="{{ site.baseurl }}/pages/ai/ai">AI Overview</a>
            <a href="{{ site.baseurl }}/pages/ai/ai-tutorial1">AI Tutorial 1</a>
            <a href="{{ site.baseurl }}/about">About</a>
        </div>
        <div class="content">
            {{ content }}
        </div>
    </div>
</body>
</html>
